{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<center>
<div class="card text-bg-primary mb-3" style="max-width: 28rem;">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
      <h5 class="card-title">Add {{title}} to Database</h5>
      <div class="card-text">
        {% if submitted %}
            {{title}} has been added to the Database.
        {% else %}
            <form action="" method=POST>
                {% csrf_token %}

                {{ form|crispy }}
                <input type ='submit', value="Submit", class ='btn btn-info'>
            </form>
        {% endif %}  
        </div>
    </div>
</div>
</center>
{% endblock content %}

  