{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Owner</h5>
          <p class="card-text">Add, Edit or Delete Property Records.</p>
          <a href="{% url 'owner-data' %}" class="btn btn-primary">List </a>
          <a href="{% url 'add-owner' %}" class="btn btn-primary">Add</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Property</h5>
          <p class="card-text">Add, Edit or Delete Property Records.</p>
          <a href="{% url 'property-data' %}" class="btn btn-primary">List </a>
          <a href="{% url 'add-property' %}" class="btn btn-primary">Add</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Units</h5>
          <p class="card-text">Add, Edit or Delete Unit Records.</p>
          <a href="{% url 'unit' %}" class="btn btn-primary">List </a>
          <a href="{% url 'add-unit' %}" class="btn btn-primary">Add</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Facilities</h5>
          <p class="card-text">Add, Edit or Delete Facility Records.</p>
          <a href="{% url 'facility' %}" class="btn btn-primary">List </a>
          <a href="{% url 'add-facility' %}" class="btn btn-primary">Add</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Estate Manager</h5>
          <p class="card-text">Add, Edit or Delete Estate Manager Records.</p>
          <a href="{% url 'estate-manager' %}" class="btn btn-primary">List </a>
          <a href="{% url 'add-manager' %}" class="btn btn-primary">Add</a>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}