{% extends 'base.html' %}

{% block content %}
<div class="card container mb-3">
    <div class="card-body">
      <h5 class="card-title">Register</h5>
      <p class="card-text">
        <form action ="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Register</button>

            <hr>
            <div class="auth__action">
              <p><strong>Signed Up Already?</strong></p>
              <a href="{% url 'login_user' %}" class="btn btn-primary">Login</a>
            </div>
          </form>
      </p>
    </div>
  </div>

  {% endblock content %}






