{% extends "base.html" %}
{% load mathfilters %}

<div class="container">
    <div class="col-md-10 offset-md-1 mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Unit List</h1>
            <hr class="my-4">
            {% block content %}
            <form class="d-flex" role="search" action="{% url 'billing-list' %}">
                
                <input class="form-control me-2" 
                    type="search" 
                    placeholder="Search for OWNER, PROPERTY, BLK or UNIT NUMBER" 
                    aria-label="Search" 
                    name="search">

                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>


               
        
            <table class="table table-borderless">
                <thead class="border-bottom font-weight-bold">
                    <tr>
                        <td>Property Name</td>
                        <td>Block</td>
                        <td>Floor Number</td>
                        <td>Unit Number</td>
                        <td>Owner</td>
                        <td>Share Value</td>
                        <td>Ownership Start Date</td>
                        <td>Monthly Maintenance Fee Payable</td>
                        <td>Monthly Sinking Fund Payable</td>
                        <td>
                            <a href="{% url 'pdf-list' %}" class="btn btn-outline-success">
                                <i class="fa-thin fa-file-pdf"></i> PDF
                            </a>
                            <a href="{% url 'email' %}" class="btn text-secondary px-0">
                                <i class="fa-solid fa-envelope"></i> Email
                            </a>
                        </td>

                      
                    </tr>
                </thead>
                <tbody>
                    {% for unit in unit_list %}
                        <tr>
                            <td>{{unit.property}}</td>
                            <td>{{unit.block}}</td>
                            <td>{{unit.floor}}</td>
                            <td>{{unit.unit_number}}</td>
                            <td>{{unit.owner}}</td>
                            <td>{{unit.share_value}}</td>
                            <td>{{unit.ownership_start_date}}</td>
                            {% with unit.maintenance_fee_monthly as maint %} 
                                {% with unit.share_value as share %} 
                                    <td>{{maint|mul:share|div:100}}</td>
                                {% endwith %}
                            {% endwith %}
                            {% with unit.sinking_fund_monthly as sink %} 
                                {% with unit.share_value as share %} 
                                    <td>{{sink|mul:share|div:100}}</td>
                                {% endwith %}
                            {% endwith %}
                        </tr>
                    {% endfor %}

                </tbody>
            </table>


            {% endblock content %}
        </div>
    </div>
</div>